/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Expandable Menu Styles
 * -----------------------*/


.menu *{
	margin: 0px;
	padding: 0px;
}

nav {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5;
	width: 20%;
	float:left;
	position: fixed;
	top:198px;
	min-width:100px;
	max-width:200px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-item{
	background: #fff;
	width: 100%;
}


.menu-item h4 {
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-top: 1px solid rgba(255,255,255,0.2);
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	padding: 7px 12px;
	/*Gradient*/
	background: #09B000; /* Old browsers */
	background: -moz-linear-gradient(top, #09B000 0%, #0CEC00 44%, #0ACB00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09B000), color-stop(44%,#0CEC00), color-stop(100%,#0ACB00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #09B000 0%,#0CEC00 44%,#0ACB00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #09B000 0%,#0CEC00 44%,#0ACB00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #09B000 0%,#0CEC00 44%,#0ACB00 100%); /* IE10+ */
	background: linear-gradient(top, #09B000 0%,#0CEC00 44%,#0ACB00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09B000', endColorstr='#0CEC00',GradientType=0 ); /* IE6-9 */
}

.menu-item h4:hover {
	background: #cc002c; /* Old browsers */
	background: -moz-linear-gradient(top,  #09B000 0%, #0CEC00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09B000), color-stop(100%,#0CEC00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #09B000 0%,#0CEC00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #09B000 0%,#0CEC00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #09B000 0%,#0CEC00 100%); /* IE10+ */
	background: linear-gradient(top,  #09B000 0%,#0CEC00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09B000', endColorstr='#0CEC00',GradientType=0 ); /* IE6-9 */
}

/*First Item Styles*/
.alpha p {
    font-size: 13px;
    padding: 8px 12px;
    color: #aaa;
}

.menu-item h4 a {
	color: white;
	display: block;
	text-decoration: none;
	width: 100%;
}

/*ul Styles*/
.menu-item ul {
	background: #fff;
  	font-size: 13px;
  	line-height: 30px;
  	height: 0px; /*collapses the menu*/
  	list-style-type: none;
  	overflow: hidden;
  	padding: 0px;
  	
  	/*Animation*/
  	 -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}
.menu-item ul a {
	margin-left: 20px;
	text-decoration: none;
	color: #aaa;
	display: block;
	width: 200px;
}

.menu-item:hover ul{
	height: 93px;
}

.menu-item:hover #resumeList{
	height: 62px;
}
 
/*li Styles*/
.menu-item li {
	border-bottom: 1px solid #eee;
}
 
.menu-item li:hover {
	background: #eee;
}

#contentBox{
	position:absolute;
	left:20%;
	border:5px solid clear;
	margin-left: 10px;
	top:198px;
	width: 80%;
	max-width:740px;
	height:100%;
	margin-bottom:300px;
	margin-right:20px;
	margin-bottom:100px;
}

body{
	max-width:980px;
	background:#000000;
	color:#0CEC00;
	/*background: #f1e7d0;*/
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
